<!doctype html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}">
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="1018963645552-u7guasss4dhb2017u5n7v1o64ag6vl10.apps.googleusercontent.com">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <header>
      <div id="logo">
        <img src="/logo.png" alt="Application logo, showing organized things">
        <h1>Categorize and organize</h1>
      </div>
      <nav>
        <a href="/">Home</a>
        <a href="/categories">Categories</a>
        {% if page.user %}
        <a class="protected" href="/categories/add">New category</a>
        {% if (page.content.model == 'category' and page.content.id) %}
        <a class="protected" href="/category/{{page.content.id}}/add/term">Add a new item to this category</a>
        <a class="protected" href="/category/{{page.content.id}}/edit">Edit this category</a>
        <a class="protected" href="/category/{{page.content.id}}/delete">Delete this category</a>
        {% endif %}
        {% if page.content.model == 'item' and page.content.id  %}
        <a class="protected" href="/category/{{category.id}}/term/{{page.content.id}}/edit">Edit this term</a>
        <a class="protected" href="/category/{{category.id}}/term/{{page.content.id}}/delete">Delete this term</a>
        {% endif %}
        {% endif %}
      </nav>
      <section class="user">
          <div id="user">
          {% if page.user %}
            {{page.user}}
          {% endif %}
          </div>
          <div id="signinButton">
            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
          </div>
          <div id="logout">
            <a href="#" onclick="signOut();">Sign out</a>
          </div>
      </section>
    </header>
    <main>
      {% if aside %}
      <aside>
        {{page.content.aside | safe}}
      </aside>
      {% endif %}
      <h1>{{page.content.title}}</h1>
      {{page.content.main | safe}}
    </main>

    <script>
user = {};
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  // The ID token you need to pass to your backend:
  var response = googleUser.getAuthResponse(); 
  var id_token = response.id_token;
  console.log(response);
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/gconnect?state={{page.login_session.state}}');
  xhr.setRequestHeader('Content-Type', 'text/json');
  xhr.onload = function(){
    user = JSON.parse(xhr.responseText);
    displayUser();
  }
  xhr.send(JSON.stringify(response));
}

function signOut(){
  var auth2 = gapi.auth2.getAuthInstance();
  auth2.signOut().then(function(){
    console.log('User signed out.');
  });
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/gdisconnect?state={{page.login_session.state}}');
  xhr.setRequestHeader('Content-Type', 'text/json');
  xhr.onload = function(){
    console.log("User signed out");
    user = {};
    displayUser();
  }
  xhr.send(JSON.stringify('logout'));
}

function displayUser(){
  if (user.email!== undefined){
    document.querySelector('#signinButton').style.display = 'none';
    document.querySelector('#logout').style.display = 'inline-block';
    var u = document.querySelector('#user');
    u.innerHTML = user.user;
    u.style.display = 'inline-block';
    var protectedlinks = document.querySelectorAll('a.protected');
    for (var i=0; i<protectedlinks.length; i++){
      protectedlinks[i].style.display = 'initial';
    }
  } else{
    document.querySelector('#signinButton').style.display = 'inline-block';
    document.querySelector('#logout').style.display = 'none';
    document.querySelector('#user').innerHTML = '';
    var u = document.querySelector('#user');
    u.innerHTML = '';
    u.style.display = 'none';
    var protectedlinks = document.querySelectorAll('a.protected');
    for (var i=0; i<protectedlinks.length; i++){
      protectedlinks[i].style.display = 'none';
    }
  }
}
displayUser();
    </script>

  </body>
</html>
